[Unit]
Description=Background helper python app
After=graphical-session-pre.target

[Service]
ExecStart=%h/.local/bin/dienpy app
Restart=always
RestartSec=15

[Install]
WantedBy=graphical-session.target
