[Unit]
Description=Background helper python app

[Service]
ExecStart=%h/.local/bin/dienpy app
Restart=always
RestartSec=15

[Install]
WantedBy=default.target
